MEMORY_REQUEST=256Mi
MEMORY_LIMIT=512Mi
CPU_REQUEST=500m
CPU_LIMIT=1
VOLUME_CAPACITY=512Mi
SC_MONGO=gluster-block
SC_FILE_UPLOAD=gluster-block
MONGODB_SERVICE_NAME={{ infra_name }}
MONGODB_REPLICAS=3
MONGODB_SECRET_NAME={{ infra_name }}
MONGODB_USER=strapi
MONGODB_DATABASE=strapi
MONGODB_IMAGE=docker-registry.default.svc:5000/openshift/mongodb
MONGODB_IMAGE_TAG=3.6